@import '../node_modules/js-datepicker/dist/datepicker.min.css';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background : #270707;
    --text : rgb(240, 218, 218);
}

body{
    background-color: var(--background);
}
main{
    width: 100vw;
    min-height: 100vh;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Texturina";
    padding: 5px;
    padding-top: 40px;
}
button{
 min-width: 40px;
 width: auto;
 max-width: fit-content;
 background-color: transparent;
 border: none;
 padding: 4px;
 font-weight: bolder;
 font-size: 16px;
 color: var(--background);
 border-radius: 3px;
}
button:hover{
    background-color: #e9cfcf;

}
button:focus{
    background-color: #e9cfcf;
}
section{
    color: white;
    padding: 10px;
    padding-top: 20px;
}

pre{
    font-size: 2px;
    line-height: 2px;
    
    justify-content: center;
    border: 1px solid white;
    width: max-content;
    margin: 5px;
    margin-bottom: 15px;
}

h2{
    font-family: "UnifrakturMaguntia";
}
input{
    background-color: #550f0f;
    border: none;
    border-radius: 2px;
    padding: 5px;
}
.unifrakturmaguntia-regular {
  font-family: "UnifrakturMaguntia", cursive;
  font-weight: 400;
  font-style: normal;
}
.texturina{
  font-family: "Texturina", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.tab-container{
    width: 600px;
    height: auto;
    min-height: 400px;
    border: 2px solid white;
    border-radius: 5px;
}
.tabs-header{
    background-color: white;
    padding: 5px;
    height: 35px;
    display: flex;
    gap: 5px;
}
.hide-section{
    display: none;
}
.ascii-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.relative-message{
    position: absolute;
    display: none;
    bottom: 150%;
    font-size: 10px;
    border-radius: 3px;
    width: 150px;
    height: auto;

    --a: 90deg; /* angle */
    --h: 1em; /* height */

    --p: 11%; /* triangle position (0%:left 100%:right) */
    --b: 1px; /* border width */
    background-color: #131313;
    padding: 1em;
    clip-path: polygon(0 100%,0 0,100% 0,100% 100%,
        min(100%,var(--p) + var(--h)*tan(var(--a)/2)) 100%,
        var(--p) calc(100% + var(--h)),
        max(0%  ,var(--p) - var(--h)*tan(var(--a)/2)) 100%);
    border-image: fill 0//var(--h) 0
        conic-gradient( #131313 0 0); /* the border color */
    

}

.relative-message:before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: var(--b) 0;
  clip-path: polygon(0 100%,0 0,100% 0,100% 100%,
    min(100% - var(--b),var(--p) + var(--h)*tan(var(--a)/2) - var(--b)*tan(45deg - var(--a)/4)) 100%,
    var(--p) calc(100% + var(--h) + var(--b)*(1 - 1/sin(var(--a)/2))),
    max(       var(--b),var(--p) - var(--h)*tan(var(--a)/2) + var(--b)*tan(45deg - var(--a)/4)) 100%);
  border-image: fill 0/0 var(--b)/var(--h) 0
    conic-gradient( #faebd7 0 0); /* the background color */
}

.tabs-header button{
    position: relative;
}
.tabs-header button:hover{
    .relative-message{
        display: block;
    }
}
.cookie-message{
    position: fixed;
    bottom: 30px;
    right: 20px;
    width: 250px;
    height: 140px;
    background-color: white;
    border-radius: 5px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}
.cookie-message button{
    background-color: #550f0f;
    color: white;
    margin: 5px;
}
.cookie-message button:hover{
    scale: 1.04;
    background-color: #550f0f9a;
}
.cookie-message p{
    margin: 4px;
}
.cookie-message h3{
    font-size: 18px;
}

